.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form label {
  font-size: .75rem;
  font-weight: 700;
  margin: 20px 0 2px 20px;
  text-align: left;
}

.form input {
  width: 400px;
  height: 25px;
  border-radius: 15px;
  border: .5px solid lightgrey;
  padding-left: 10px;
}

form .description {
  height: 180px;
}

.add-new-btn {
  color: white;
  font-weight: 600;
  background-color: #3CC4FC;
  width: 410px;
  height: 35px;
  margin-top: 20px;
  border: .5px solid lightgrey;
  border-radius: 15px;
  cursor: pointer;
}